<!DOCTYPE html>
{% load static %}
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Cycle</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets --> 
      <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700,800&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
      <link rel="stylesoeet" href="{% static 'css/owl.theme.default.min.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>
   <body>
      <!-- header section start -->
      <div class="header_section header_bg">
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="index.html" class="logo"><img src="{% static 'images/logo.png' %}"></a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
              
            </span>
            
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                     <a class="nav-link" href="index.html">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="about.html">About</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="cycle.html">Our Cycle</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="shop.html">Shop</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="news.html">News</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="contact.html">Contact Us</a>
                  </li>
               </ul>
               <form class="form-inline my-2 my-lg-0">
                  <div class="login_menu">
                     <ul>
                        <li><a href="http://127.0.0.1:8000/user_logout/">Logout</a></li>
                        <li><a href="http://127.0.0.1:8000/userprofile/">My Profile</a></li>
                       
                        <li><a href="http://127.0.0.1:8000/cart_view/{{i}}"><img src="{% static 'images/trolly-icon.png' %}"></a></li>
                        <li><a href="http://127.0.0.1:8000/wishview/{{i}}"><img src="{% static 'images/wishlist.png' %}"></a></li>
                     </ul>
                    
                  </div>
                  <div></div>
               </form>
           
            </div>
            <div id="main">
               <span style="font-size:36px;cursor:pointer; color: #fff" onclick="openNav()"><img src="{% static 'images/toggle-icon.png' %}" style="height: 30px;"></span>
            </div>
         </nav>
         <button type="submit" class="btn btn-primary">Tour Bike</button>
         <!-- banner section start -->
         <div class="banner_section layout_padding">
            <div id="main_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-7">
                              <div class="best_text">Best</div>
                              <div class="image_1"><img src="{% static 'images/img-1.png' %}"></div>
                           </div>
                           <div class="col-md-5">
                              <h1 class="banner_taital">New Model Cycle</h1>
                              <p class="banner_text">     

                                 Elevate Your Ride Experience with Our Cycles </p>
                              {% comment %} <div class="contact_bt"><a href="contact.html">Shop Now</a></div> {% endcomment %}
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-7">
                              <div class="best_text">Best</div>
                              <div class="image_1"><img src="{% static 'images/img-1.png' %}"></div>
                           </div>
                           <div class="col-md-5">
                              <h1 class="banner_taital">New Model Cycle</h1>
                              <p class="banner_text">     

                                 Elevate Your Ride Experience with Our Cycles </p>
                              {% comment %} <div class="contact_bt"><a href="contact.html">Shop Now</a></div> {% endcomment %}
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-7">
                              <div class="best_text">Best</div>
                              <div class="image_1"><img src="{% static 'images/img-1.png' %}"></div>
                           </div>
                           <div class="col-md-5">
                              <h1 class="banner_taital">New Model Cycle</h1>
                              <p class="banner_text">     

                                 Elevate Your Ride Experience with Our Cycles </p>
                              {% comment %} <div class="contact_bt"><a href="contact.html">Shop Now</a></div> {% endcomment %}
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
               <i class="fa fa-angle-left"></i>
               </a>
               <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
               <i class="fa fa-angle-right"></i>
               </a>
            </div>
         </div>
        
         <!-- banner section end -->
        
      </div>
      
      <!-- header section end -->
      <!-- cycle section start -->
      <div class="cycle_section layout_padding">
         <div class="container">

            <h1 class="cycle taital" align="center"><b>OUR CYCLES</b></h1><br><br>
               
               <a type="button" class="btn btn-outline-primary" style="margin-left:150px;" href="http://127.0.0.1:8000/userindex/Mountain_Bikes">Mountain Bikes</a>
               
               <a type="button" class="btn btn-outline-primary" style="margin-left:10px;" href="http://127.0.0.1:8000/userindex/Electric_Bicycles">Electric Bicycles</a> 
               <a type="button" class="btn btn-outline-primary" style="margin-left:10px;" href="http://127.0.0.1:8000/userindex/Road_Bikes">Road Bikes</a>
               
               <a type="button" class="btn btn-outline-primary" style="margin-left:10px;" href="http://127.0.0.1:8000/userindex/Hybrid_Bikes">Hybrid Bikes</a>
               <a type="button" class="btn btn-outline-primary" style="margin-left:10px;" href="http://127.0.0.1:8000/userindex/Folding_Bikes">Folding Bikes</a> <br><br><br><br>
         </div>
      </div>
              
               {% for i,j,k,l,m,n,o in data %}
               
               {% if j == category %}
               
              
               
               
               
               <div class="cycle section 2 layout_padding"> 
               <div class="row">
               
               <div class="col-md-6">
               
               <div class="box main">
               
               <h6 class="number_text">{{i}}</h6>
               
               <div class="image_2"><img src="/static/images/{{l}}" width="800px" height="800px"></div>
               
               </div>
               
               </div>
               
               <div class="col-md-6">
               
               <h1 class="cycles_text">{{m}}</h1>
               
               <p class="lorem_text"><h3><b>Category : {{j}}</h3></b><br>
                  <h3><b>Brand : {{m}}</h3></b><br>
               
               
               
               <h3><b>Age-Range : {{o}}</h3></b><br>
               
               
               <h3><b> Color :  <input type = "color" value="{{n}}" disabled> </b> </h3>
               
               <div class="buy_bt"> <a href="http://127.0.0.1:8000/wishlist/{{i}}"> 🤍</a></div> 
               <div class="buy_bt ml-2"><a href="http://127.0.0.1:8000/edit_useraddress/">Buy Now </a></div>
               <h4 class="price_text">Price <span style=" color: #f7c17b"></span> <span style="color: #325662">{{k}}</span></h4>
               
            </div>
         </div>
      </div>
   </div>
   
   {% endif %}
   
   {% endfor %}

   {% comment %} {% if j != category %}
   <p class="cycle_text mt-4 mb-4">No Items Found!!</p></b>
   {% endif %} {% endcomment %}
  
   <div class="read_btn_main">
      <div class="read_bt"><a href="#">Read More</a></div>
   </div>
</div>
</div>



                <!-- cycle section end -->
      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <h1 class="about_taital">About Our cycle Store</h1>wishview
            <p class="about_text">
            </p>
            <div class="about_main">
               <img src="{% static 'images/img-5.png' %}" class="image_5">
            </div>
            <div class="read_bt_1"><a href="#">Read More</a></div>
         </div>
      </div>
      <!-- about section end -->
      <!-- client section start -->
      <div class="client_section layout_padding">
         <div id="my_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <div class="client_main">
                        <h1 class="client_taital">Says Customers</h1>
                        <div class="client_section_2">
                           <div class="client_left">
                              <div><img src="{% static 'images/client2.jpeg.png' %}" class="client_img"></div>
                           </div>
                           <div class="client_right">
                              <div class="quote_icon"><img src="{% static 'images/quote-icon.png' %}"></div>
                              <p class="client_text">I push my cycle through all sorts of roads and trails in and around the city. Its tough frame can definitely take a beating and the brakes work like a charm.</p>
                              <h3 class="client_name">Manju</h3>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="client_main">
                        <h1 class="client_taital">Says Customers</h1>
                        <div class="client_section_2">
                           <div class="client_left">
                              <div><img src="{% static 'images/client-img.png' %}" class="client_img"></div>
                           </div>
                           <div class="client_right">
                              <div class="quote_icon"><img src="{% static 'images/quote-icon.png' %}"></div>
                              <p class="client_text">A quick solo outing on my Milano is the new thing. It’s lightweight, easy to manage in city traffic, but strong enough to handle bumps and cracks. And keeps me fit too!​</p>
                              <h3 class="client_name">Channery</h3>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="client_main">
                        <h1 class="client_taital">Says Customers</h1>
                        <div class="client_section_2">
                           <div class="client_left">
                              <div><img src="{% static 'images/client3.JPG' %}" class="client_img"></div>
                           </div>
                           <div class="client_right">
                              <div class="quote_icon"><img src="{% static 'images/quote-icon.png' %}"></div>
                              <p class="client_text">I love my new Angel because OMG it’s cute. Super fun to ride, the easy step frame is an absolute delight. I am totally in love with cycling.</p>
                              <h3 class="client_name">Alia</h3>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
               <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
              <i class="fa fa-angle-right"></i>
            </a>
         </div>
      </div>
      <!-- client section end -->
      <!-- news section start -->
      <div class="news_section layout_padding">
         <div class="container">
            <h1 class="news_taital">News</h1>
            <p class="news_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using </p>
            <div class="news_section_2 layout_padding">
               <div class="row">
                  <div class="col-sm-4">
                     <div class="box_main_1">
                        <div class="zoomout frame"><img src="{% static 'images/img-6.png' %}"></div>
                        <div class="padding_15">
                           <h2 class="speed_text">Speed cycle</h2>
                           <div class="post_text">Post by : Den <span style="float: right;">20-12-2019</span></div>
                           <p class="long_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using </p>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="box_main_1">
                        <div class="zoomout frame"><img src="{% static 'images/img-7.png' %}"></div>
                        <div class="padding_15">
                           <h2 class="speed_text">Speed cycle</h2>
                           <div class="post_text">Post by : Den <span style="float: right;">20-12-2019</span></div>
                           <p class="long_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using </p>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="box_main_1">
                        <div class="zoomout frame"><img src="{% static 'images/img-8.png' %}"></div>
                        <div class="padding_15">
                           <h2 class="speed_text">Jaump cycle</h2>
                           <div class="post_text">Post by : Den <span style="float: right;">20-12-2019</span></div>
                           <p class="long_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- news section end -->
      <!-- contact section start -->
      <div class="contact_section layout_padding">
         <div class="container">
            <div class="contact_main">
               <h1 class="request_text">A Call Back</h1>
               <form action="/action_page.php">
                  <div class="form-group">
                     <input type="text" class="email-bt" placeholder="Name" name="Name">
                  </div>
                  <div class="form-group">
                     <input type="text" class="email-bt" placeholder="Email" name="Name">
                  </div>
                  <div class="form-group">
                     <input type="text" class="email-bt" placeholder="Phone Numbar" name="Email">
                  </div>
                  <div class="form-group">
                     <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment" name="Massage"></textarea>
                  </div>
               </form>
               <div class="send_btn"><a href="#">SEND</a></div>
            </div>
         </div>
      </div>
      <!-- contact section end -->
      <!-- footer section start -->
      <div class="footer_section layout_padding">
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-8 col-sm-12 padding_0">
                  <div class="map_main">
                     <div class="map-responsive">
                       <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France" width="600" height="400" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-sm-12">
                  <div class="call_text"><a href="#"><img src="{% static 'images/map-icon.png' %}"><span class="padding_left_0">Page when looking at its layou</span></a></div>
                  <div class="call_text"><a href="#"><img src="{% static 'images/call-icon.png' %}"><span class="padding_left_0">Call Now  +01 123467890</span></a></div>
                  <div class="call_text"><a href="#"><img src="{% static 'images/mail-icon.png' %}"><span class="padding_left_0">demo@gmail.com</span></a></div>
                  <div class="social_icon">
                     <ul>
                        <li><a href="#"><img src="{% static 'images/fb-icon1.png' %}"></a></li>
                        <li><a href="#"><img src="{% static 'images/twitter-icon.png' %}"></a></li>
                        <li><a href="#"><img src="{% static 'images/linkedin-icon.png' %}"></a></li>
                        <li><a href="#"><img src="{% static 'images/instagram-icon.png' %}"></a></li>
                     </ul>
                  </div>
                  <input type="text" class="email_text" placeholder="Enter Your Email" name="Enter Your Email">
                  <div class="subscribe_bt"><a href="#">Subscribe</a></div>
               </div>
            </div>
         </div>
      </div>
      <!-- footer section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="container">
            <p class="copyright_text">Copyright 2019 All Right Reserved By.<a href="https://html.design"> Free  html Templates</p>
         </div>
      </div>
      <!-- copyright section end -->    
      <!-- Javascript files-->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'js/plugin.js' %}"></script>
      <!-- sidebar -->
      <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>
      <!-- javascript --> 
      <script src="{% static 'js/owl.carousel.js' %}"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
         function openNav() {
           document.getElementById("mySidenav").style.width = "250px";
           document.getElementById("main").style.marginLeft = "250px";
         }
         
         function closeNav() {
           document.getElementById("mySidenav").style.width = "0";
           document.getElementById("main").style.marginLeft= "0";
          
         }

         $("#main").click(function(){
             $("#navbarSupportedContent").toggleClass("nav-normal")
         })
      </script>
   </body>
</html>