
{% extends 'main.html' %}
{% load crispy_forms_tags %} 


{% block content %}
<font color="#ffffff">
<div class="container px-4" >

{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<div class="card text-white bg-dark p-4" >
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}


 {{ form|crispy }}

  {% comment %} {% for field in form %}
          <div class="form__group form__group">
            <label for="room_name" class="form-label">{{field.label}}</label>

            {{field}}
          </div>
          {% endfor %} 

{% endcomment %}

  <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</font> 
 {% comment %} <form method="POST" action="signup">
 {% csrf_token %}  {% endcomment %}
  {% comment %} <div class="mb-3">
    <label for="Username" class="form-label">Username</label>
    <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
    
  </div>
   <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" name="password">
  </div>
   <div class="mb-3">
    <label for="password" class="form-label">Repeat Password</label>
    <input type="password" class="form-control" name="password2">
  </div>
 
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

 {% endcomment %}









   
  </div>
</div>
</div>

 {% endblock content %}



